#year-slider {
	width: 400px;
}

#slider-row {
	margin-top: 100px;
}

#year-text {
	margin-left: 40px;
}

#charts {
	margin-left: 100px;
	margin-bottom: 40px;
}

.jumbotron {
	text-align: center;
}


body {
	background-color: white;
}