#year-slider {
	width: 400px;
}

#year-slider-col {
	margin-top: 80px;
}

#charts {
	margin-left: 100px;
}

body {
	background-color: white;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}